@mixin box-wrapper {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

@mixin box-shadow {
    box-shadow: 0px 0px 10px 0px;
}

@mixin box($width) {
    width: $width;
    vertical-align: top;
    margin: 10px 20px 40px 10px;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    padding-bottom: 64px;

    @media (max-width: 670px) {
        width: 80%;
        margin: 10px 10px 40px 10px;
    }
}

@mixin box-title {
    font-size: 1.5em;
}

@mixin box-text {
    text-align: center;
    margin: 20px 20px;
    word-break: break-all;
}